.guillotine {
  position: relative;
  width: 100%;
  height: 100%;
}

.guillotine__layer {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.guillotine__layer--rope {
  z-index: 1;
}

.guillotine__layer--blade {
  z-index: 2;
}

.guillotine__layer--base {
  z-index: 3;
}
