.guillotine {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guillotine__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.guillotine__layer--rope {
  z-index: 1;
}

.guillotine__layer--blade {
  z-index: 2;
}

.guillotine__layer--blood-line {
  z-index: 2;
  pointer-events: none;
}

.guillotine__layer--base {
  z-index: 3;
}
