.lever {
  position: absolute;
  left: 50px;
  bottom: 32px;
  z-index: 10;
  pointer-events: none;
}

.lever__base {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Front face */
.lever__base__front {
  background-image: url('assets/original/wood-2.png');
  background-size: 60px 60px;
  background-position: center;
}

/* Top face */
.lever__base__top {
  background-image: url('assets/original/wood-2.png');
  background-size: 60px 60px;
  background-position: center top;
}

/* Right face */
.lever__base__right {
  background-image: url('assets/original/wood-2.png');
  background-size: 60px 60px;
  background-position: right center;
  filter: brightness(0.7);
}

.lever__arm {
  width: 7px;
  height: 95px;
  background-image: url('assets/original/wood-1.png');
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
  transform-origin: bottom center;
  box-shadow:
    1px 1px 3px var(--color-shadow-50),
    inset 1px 0 0 var(--color-white-20);
}
