.lever {
  position: absolute;
  left: 3.125em;
  bottom: 2em;
  z-index: 10;
  pointer-events: none;
}

.lever__base {
  position: absolute;
  bottom: -0.625em;
  left: 50%;
  transform: translateX(-50%);
}

/* Front face */
.lever__base__front {
  background-image: url('assets/original/wood-2.png');
  background-size: 3.75em 3.75em;
  background-position: center;
}

/* Top face */
.lever__base__top {
  background-image: url('assets/original/wood-2.png');
  background-size: 3.75em 3.75em;
  background-position: center top;
}

/* Right face */
.lever__base__right {
  background-image: url('assets/original/wood-2.png');
  background-size: 3.75em 3.75em;
  background-position: right center;
  filter: brightness(0.7);
}

.lever__arm {
  width: 0.4375em;
  height: 5.9375em;
  background-image: url('assets/original/wood-1.png');
  background-size: cover;
  background-position: center;
  border-radius: 0.25em 0.25em 0 0;
  transform-origin: bottom center;
  box-shadow:
    0.0625em 0.0625em 0.1875em var(--color-shadow-50),
    inset 0.0625em 0 0 var(--color-white-20);
}
